<%= render 'shared/header_all_pages' %>
<section class="banner-area-contact">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="main-div text-center">
        <div class="headline">
          <h1 class="color-green">CONTACT SEAMLESS CAPITAL ACCESS</h1>
        </div>
        <h3>Giving you the support you need for the capital you want.</h3>
        <p class="mb-0">
          We've been there. We know getting access to the capital you need
          can be an overwhelming process. That's why we're here to help.
          Once you start your application, you will have a Seamless
          Capital Access Concierge to personally guide you through three
          simple steps to cash. For any questions before you apply, please
          reach out using the form below and one of our support
          specialists will respond quickly. We're here for you - tell us
          how we can help.
        </p>
      </div>
    </div>
  </div>
</div>
</section>

<section class="information-area-contact">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="text-wrap">
        <h1 class="h1-common mb-2">Still need more information?</h1>
        <p class="p-common mb-0">
          Let us put the power of capital in your hands.
        </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="right-div">
        <form
          class="row row-cols-lg-auto g-3 width-480 align-items-center needs-validation"
          novalidate
        >
          <div class="col-6 col-margin">
            <input
              type="text"
              class="form-control input-area"
              id="firstNameInfo"
              placeholder="First Name*"
              required
            />
            <div class="invalid-feedback">can't be blank</div>
          </div>

          <div class="col-6 col-margin">
            <input
              type="text"
              class="form-control input-area"
              id="lastNameInfo"
              placeholder="Last Name*"
              required
            />
            <div class="invalid-feedback">can't be blank</div>
          </div>

          <div class="col-6 col-margin">
            <input
              type="text"
              class="form-control input-area"
              id="companyInfo"
              placeholder="Company*"
              required
            />
            <div class="invalid-feedback">can't be blank</div>
          </div>

          <div class="col-6 col-margin">
            <input
              type="text"
              class="form-control input-area"
              id="phoneInfo"
              placeholder="Phone Number*"
              required
            />
            <div class="invalid-feedback">can't be blank</div>
          </div>

          <div class="col-12 col-margin">
            <input
              type="text"
              class="form-control input-area"
              id="emailInfo"
              placeholder="Email*"
              required
            />
            <div class="invalid-feedback">can't be blank</div>
          </div>
          <textarea class="form-control input-area" id="exampleFormControlTextarea1" placeholder = "Message" rows="7"></textarea>
          <div class="col-12">
            <button type="submit" class="btn btn-yellow color-purple">
              <a href="#">GET IN TOUCH</a>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</section>
<%= render 'shared/footer_section' %>