<div data-controller="toastnotice" data-notice-toast="true" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true" class="toast" >
  <div class="toast-header text-white bg-primary">
      <strong class="me-auto">Notification</strong>
      <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <%= message %>
  </div>
</div>
