<section class="footer-area">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-lg-3">
      <%= image_tag("logosvg.svg", alt:"logo",:class => "logo") %>
    </div>
    <div class="col-md-3 col-lg-6 text-center">
      <div class="footer-items float-start">
        <span>
        <%= link_to "Products", products_path %>
        </span>
        <span><%= link_to "About", about_path %></span>
        <span><%= link_to "FAQs", faqs_path %></span>
        <span><a href="#">News</a></span>
      </div>
      <div class="float-end"></div>
    </div>
    <div class="col-md-4 col-lg-3">
      <div class="copyright">
        © Copyright 2021 Seamless Capital Access
      </div>
      <div class="footer-actions">
        <a href="javascript:void(0)">Terms of Use</a>
        <a href="javascript:void(0)">Site Map</a>
        <a href="javascript:void(0)">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
</section>